In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
connection_string = 'postgresql://postgres:tvoja_lozinka@localhost:5432/leetcode_practice'

In [3]:
sql_upit = "SELECT * FROM person;"

In [4]:
person_df = pd.read_sql(sql_upit, engine)

NameError: name 'engine' is not defined

In [5]:
print("Uspešno učitani podaci iz PostgreSQL baze:")
print(person_df.head())

Uspešno učitani podaci iz PostgreSQL baze:

NameError: name 'person_df' is not defined

In [8]:
connection_string = 'postgresql://postgres:Milos098!@localhost:5432/postgres'

In [9]:
sql_upit = "SELECT * FROM person;"

In [10]:
sql_upit = "SELECT * FROM person;"

In [12]:
sql_upit = "SELECT * FROM person;"

In [13]:
person_df = pd.read_sql(sql_upit, engine)

NameError: name 'engine' is not defined

In [14]:
engine = create_engine(connection_string)

In [15]:
sql_upit = "SELECT * FROM person;"

In [16]:
df = pd.read_sql(sql_upit, engine)

In [17]:
print("Uspešno učitani podaci iz PostgreSQL baze:")
print(df.head())

Uspešno učitani podaci iz PostgreSQL baze:
   personid firstname lastname
0         1     Allen     Wang
1         2       Bob    Alice

In [18]:
sql_upit = "SELECT * FROM employee;"

In [19]:
print(person_df.head())

   personid firstname lastname
0         1     Allen     Wang
1         2       Bob    Alice

In [20]:
sql_upit = "SELECT * FROM employees;"

In [21]:
person_df = pd.read_sql(sql_upit, engine)

In [22]:
print(df.head())

   id  salary
0   1     100
1   2     200
2   3     300

In [23]:
sql_upit = "SELECT * FROM employees;"

In [24]:
df = pd.read_sql(sql_upit, engine)

In [25]:
print(df.head())

   employee_id     name  salary
0            2     Meir    3000
1            3  Michael    3800
2            7  Addilyn    7400
3            8     Juan    6100
4            9   Kannon    7700

In [26]:
df_za_upis = df.head(100)

In [27]:
df_za_upis.to_sql(
    'movies_cleaned', 
    engine, 
    if_exists='replace',
    index=False
)

5